.page {
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    width: 100vw;
    height: 216.54vw;
    overflow: hidden;
    .image-wrapper_1 {
      width: 100vw;
      height: 58.94vw;
      .image_1 {
        width: 54.14vw;
        height: 16.27vw;
        margin: 39.2vw 0 0 22.93vw;
      }
    }
    .image_2 {
      width: 88.27vw;
      height: 79.74vw;
      margin: -0.26vw 0 0 5.86vw;
    }
    .box_1 {
      width: 100vw;
      height: 78.4vw;
      margin-bottom: 0.27vw;
      .text_1 {
        width: 71.2vw;
        height: 12.8vw;
        overflow-wrap: break-word;
        color: rgba(165, 165, 165, 1);
        font-size: 3.2vw;
        font-family: Outfit;
        font-weight: normal;
        text-align: center;
        line-height: 4.27vw;
        margin: 3.2vw 0 0 14.66vw;
      }
      .text-wrapper_1 {
        background-color: rgba(0, 82, 254, 1);
        border-radius: 30px;
        height: 14.4vw;
        width: 68vw;
        margin: 1.6vw 0 46.4vw 16vw;
        .text_2 {
          width: 12.27vw;
          height: 5.34vw;
          overflow-wrap: break-word;
          color: rgba(255, 255, 255, 1);
          font-size: 5.33vw;
          font-family: Outfit;
          font-weight: 700;
          text-align: center;
          white-space: nowrap;
          line-height: 26.67vw;
          margin: 4.53vw 0 0 28vw;
        }
      }
    }
  }
  